.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins';
  background-color: var(--font-color-1);
  padding: 0 0 0 2rem;
}

.box{
  align-self: flex-start;
}

.box h2{
  font-size: 20px;
  color: var(--black-02);
}



.categorias {
  padding-left: 2rem;
}

.categorias p {
  font-size: 16px;
  color: var(--details-1);
  padding-top: 5px;
}

.categorias h2 {
  font-size: 20px;
  color: var(--black-02);
}



.infiniteContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  transform-origin: right top;
  margin-bottom: -160px;
  margin-left: 20px;
}

.scrollmenu>div {
  display: block;
  transform-origin: right top;
}

.scrollmenu a {
  display: inline-block;
  color: #8192A3;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  margin-bottom: 13px;
  margin-right: 12px;
  transform: translateX(10px);
  border-radius: 0.25rem;
  cursor: pointer;
}

.scrollmenu a:hover {
  border-radius: 0.25rem;
}

.squares {
  padding: 30px 0 0 0;
}

.squares>div {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 1.5rem;
}

a {
  color: var(--font-color-1);
}

@media (max-width:895px) {


  .scrollmenu {
    margin-bottom: 60px;
  }

}

@media(max-width:775px) {

  .scrollmenu a {
    display: inline-block;
    color: #8192A3;
    text-align: center;
    padding: 1px;
    text-decoration: none;
    transform: translateX(10px);
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .container{
    padding: 0;
    height: auto !important;
  }

  .box h2{
    padding-left: 2rem !important;
  }

  .infiniteContainer{
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

}