.container {
  background-color: #fff;
  max-width: 100vw;
  width: 100%;
  height: auto;
  color: #3D3D4C;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.square h2 {
  font-size: 1.25rem;
  padding-left: 0.5rem;
  color: inherit;
}

.buttonArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


@media(max-width:500px) {
  .buttonArea {
    padding: 0 15% 0 15%;
    width: 70% !important;
  }

  .wrapper{
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #combinedComponent2{
    max-width: 85% !important;
  }
}