.container {
    background-color: var(--details-1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    height: 9.25rem;
}

.content{
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h2 {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 2.75rem;
    color: var(--black-01);
}

h3 {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 0.875rem;
    color: var(--details-5);
}