.container{
    background-color: var(--details-1);
    height: 9.25rem;
    max-height: 9.25rem;
    width: 100%; 
    flex-direction: row;
    padding-left: 20px;
}

.box {
    display : flex;
}

.colun {
    flex-direction: column;
    margin-top: -20px;
    margin-left: 20px;
}

.imagem {
    z-index: 999;
    padding-top: 25px;
}

h2 {
    font-size: 44px;
    color: var(--black-01);
    margin-bottom: -20px;
}

h3 {
    font-size: 14px;
    color: var(--details-5);
}