.container {
    background-color: var(--font-color-4);
    width: 310px;
    height: 110px;
    border-radius: 9px;
    display: flex;
    margin: 0px 50px 0px 0px;
  }
  .textos {
    text-align: center;
    padding: 8px 10px 0px 30px;
  }
  #imagem {
    padding: 0.8rem;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: var(--details-2);
    border-radius: 8px 0px 0px 8px;
  }
  #titulo {
    margin: 0px;
    text-align: left;
    font-family: "Poppins";
    font-weight: 600;
    color: var(--black-02);
    overflow: hidden;
    margin-bottom: -1rem;
  }
  #local {
    text-align: left;
    font-family: "Roboto";
    color: var(--black-02);
    margin-bottom: -1rem;
    overflow: hidden;
    width: 150px;
  }
  #preco {
    font-family: "Roboto";
    color: var(--details-4);
    text-align: center;
    overflow: hidden;
  }
  