/*
  -> Essa é a única folha de estilos global (é aplicado em todas páginas) da aplicação.
  -> Não modifique sem ter certeza.
*/


body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins";
}

:root {

  --details-1: #E05100; /* laranja */
  --details-2: #FFB84D; /* button laranja */
  --details-3: #FFC46B; /* button laranja claro */
  --details-4:  #39B100; /* verde */
  --details-5:  #FDD482; /* laranja label*/

  --font-color-1: #FFFFFF; /* branco*/
  --font-color-2: #D4CCFF; /* cinza claro */
  --font-color-3: #7A1818; /* vermelho escuro */
  --font-color-4: #f0f0f5; /* off */
  --font-color-5: #B7B7CC; /* cinza placeholder */
  --font-color-6: #B1B0BB; /* cinza medio*/

  --red-500: #FF0202; /* vermelho */

  --black-01: #000; /* preto */
  --black-02: #000000cc;
  --black-02: #3d3d4d;

  --black-transparent: rgba(0,0,0,0.8); /* preto transparente */

  --gray-200: #6c6c80; /* cinza escuro */
}

h7 {
  width: 100%;
  height: 50px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var(--black-01)!important;
  color:var(--font-color-1) !important;
  font-weight: 400 !important;
  font-size: 16px;
 
}

h7 button {
  padding-left: 44%;
  background-color: transparent;
}

h8 {
  padding-left: 660px;
}
  
h9 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid var(--details-2);
  color: var(--details-2);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 720px) { 
h7 button {
  padding-left: 25%;
  background-color: transparent;
}

h8 {
  padding-left: 100px;
}
  
}