/*
  -> Essa é a única folha de estilos global (é aplicado em todas páginas) da aplicação.
  -> Não modifique sem ter certeza.
*/


body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins";
}

