/*
  -> Essa é a única folha de estilos global (é aplicado em todas páginas) da aplicação.
  -> Não modifique sem ter certeza.
*/


body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins";
}

:root {

  --details-1: #E05100; /* laranja */
  --details-2: #FFB84D; /* button laranja */
  --details-3: #FFC46B; /* button laranja claro */
  --details-4:  #39B100; /* verde */
  --details-5:  #FDD482; /* laranja label*/

  --font-color-1: #FFFFFF; /* branco*/
  --font-color-2: #D4CCFF; /* cinza claro */
  --font-color-3: #7A1818; /* vermelho escuro */
  --font-color-4: #f0f0f5; /* off */
  --font-color-5: #B7B7CC; /* cinza placeholder */

  --red-500: #FF0202; /* vermelho */

  --black-01: #000; /* preto */
  --black-02: #000000cc;
  --black-02: #3d3d4d;

  --gray-200: #6c6c80; /* cinza escuro */
}
