.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-bottom: 2rem !important;
}

.main {
    box-sizing: border-box;
    height: auto;
    margin: 5.31rem 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
}

.productItself {
    box-sizing: border-box;
    max-width: 22.125rem;
    width: 100%;
    max-height: auto;
    background-color: var(--font-color-4);
    border-radius: 8px;
    height: auto;
    padding-bottom: 1.5rem !important;
}

.productItself :first-child {
    width: 100%;
    height: 100%;
    background-color: var(--details-2);
    max-height: 13.31rem;
    border-radius: 8px 8px 0 0;
}

.details * {
    background-color: unset !important;
}

.productItself> :first-child img {
    object-fit: contain;
}

.productItself> :nth-child(2) {
    padding: 2rem 2rem 0 2rem;
}

.details {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.details>* {
    overflow: hidden;
}

.details :first-child {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--black-02);
}

#antigo {
    color: var(--red-500);
    font-weight: 600;
    text-decoration: line-through;
    font-size: 1.25rem;
}

#atual {
    font-size: 1.85rem;
    font-weight: 600;
    color: var(--details-4);
}

.aditionalInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aditionalInfo hr {
    border-color: var(--font-color-5);
}

.aditionalInfo span {
    white-space: pre-wrap !important;
    color: var(--black-02);
    margin-bottom: 0.25rem;
}

.aside {
    box-sizing: border-box;
    width: 100%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.aside h3 {
    color: var(--black-02);
    font-size: 1.25rem;
    vertical-align: middle;
}

.aside h3 span {
    color: var(--details-4);
    font-size: 1.8rem;
    vertical-align: middle;
}

.carrinhoArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carrinhoArea> :nth-child(2) {
    max-width: 20.06rem;
    width: 100%;
}

@media(max-width:1175px) {

    .aside {
        padding-top: 1rem;
    }

    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:500px) {
    .productItself {
        position: relative;
        bottom: 7.5rem;
    }

    .aside{
        position: relative;
        bottom: 5.5rem;
    }

    .main{
        margin-bottom: 0;
    }
}

@media(max-width:430px) {
    .carrinhoArea {
        flex-direction: column;

    }
}